# Системные файлы ОС
.DS_Store
Thumbs.db

# Файлы IDE
out/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Журналы и временные файлы
*.log
*.tmp
*.temp

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
workspace.xml
usage.statistics.xml
tasks.xml
shelf/
libraries/

# Java
*.class

# Логи
logs/

# Unit тесты
test-results/
*.coverage
*.jacoco

# Другие исключения
*.jar
*.war
*.ear

# Операционная система
*.swp
*.swo

# Скрытые файлы и временные настройки
*.bak
*.orig